<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>
<!-- so Word Counter title appears in every page -->
  <body>
    <div class="container">
      <%= yield %> 
    </div>
  </body>
</html>